<p><i><%= @error %></i></p>

<div class="welcome">
  <h2>Welcome to Bookmark!</h2>

  <p><i>"Read what you love until you love to read"</i> - Naval Ravikant </p>
</div>

<%= image_tag "BlackwithBookShelfIconEducationLogo.png" %>






