<p><i><%= @error %></i></p>

<div class="welcome">
  <h2>Welcome to Bookmark!</h2>

  <p><i>“Sleep is good, he said, and books are better.”</i>― George R. R. Martin</p>
</div>

<%= image_tag "BlackwithBookShelfIconEducationLogo.png", :class => "logo" %>






